:root{
    --text-style-global:"arial";
    --bg-aside-sections:white;
    --text-color-title:black;
    --text-strong-weight:bold;
    --text-size-title:18px;
    --text-color-text-p:rgb(15, 15, 15);
    --text-size-text-p:14px;
}


body{
    background-color: rgb(236, 236, 236);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr,2fr;
    background-color: var(--bg-aside-sections);
    width: 70vw;
    grid-template-areas: 
    "header header"
    "aside article"
    "footter footter"
    ;
    grid-template-rows: auto,1rf,auto;
    gap: 12px;
    padding: 5px;
    border-radius: 10px;
}
h1{
    font-family: var(--text-style-global);
    font-weight: var(--text-strong-weight);
}
p{
    font-family:var(--text-size-text-p) ;
    color: var(--text-size-text-p);
    color: var(--text-style-global);
}
header{
    grid-area: header;
    padding: 2px;
}
aside{
    grid-area: aside;
    padding: 4px;
    justify-content: left;
    padding: 20px;

}
article{
    grid-area: article;
    padding: 5px;
    padding: 20px;

}
footer{
grid-area: footter;
padding: 0px;
margin: 0px;
}

.encabezado img{
width: 70vw;
height: 10vh;
min-width: 30vw;
max-width: 80vw;
}

.side-class div img{
    width: 14vw;
    height: 30vh;
    min-width: 20vh;
    max-width: 30vh;
    min-width: 5vw;
    max-width: 16vw;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    left: 20px;
}

.side-class .contact{
position: relative;
bottom: 30px;
}
main footer img{
width: 70vw;
min-width: 30vw;
max-width: 80vw;
}
.side-class .contact {
  padding: 0;
  margin: 0;
}
.side-class .contact li {
  list-style: none;
  margin-bottom: 10px;
}
.side-class .contact-item {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.side-class .contact-item svg {
  width: 20px;
  height: 20px;
  fill: black; 
}
.side-class .contact-item h1{
    margin: 0px 0px 50px 00px;
}
.side-class .contact{
    margin: 0px 0px 0px 0px;
}

.article_main .main-info h3{
margin: 50px 0px 50px 0px;
}



.article_main .experiencia-laboral .experiencia_section1 {
  border-left: 1px solid #000;
  padding-left: 15px; 
  margin-left: 10px;  
}

.article_main .experiencia-laboral .experiencia_section2 {
  border-left: 1px solid #000;
  padding-left: 15px;
  margin-left: 10px;
}
